.class-card {
	width: 512px;
}

.class-list {
	margin-top: 0px;
  padding-top: 0px;
}


.class-list > li {
  border-bottom: #ccc;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.mdl-card__title > h5 {
  margin-top: 0px;
}

.major-width-card {
  width: 100%;
}

.flat-grey-back {
  background-color: #FAFAFA;
}

.summary-header {
  display: inline;
}

.summary-header--button {
  font-size: 12px;
  height: 20px;
  width: 38px;
  min-width: 38px;
  line-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

hr {
  margin-bottom: 0px;
}

.right-floated {
  float: right;
}